 <div class="record_modal modal">
     <h1 style = "color:white">Новое значение </h1> <br />
     <input type ="texte" class = "title_task_fild"> <br />
     <input type = "submit" value = "ok" class = "change_record_title">
 </div>

 <div class="task_fild">
            <div class="s3">
              <input name="chek" class="check" type="checkbox" style="cursor: pointer;" <%if(check=="1") {%> checked <%}%> >
            </div>
             
             <div class="s4">
             <%= title%>
             </div>
             <div class="s5">
                <img src="image/5.jpg" class = "up_priority">
                <img src="image/6.jpg">
                <img src="image/7.jpg" class="edit_fild">
                <img src="image/6.jpg" >
                <img src="image/8.jpg" class="remove_fild" >
             </div>
 </div>