       <div id ="lists"> 
         <script type=text/javascript>
          <% if signed_in? %>
           Todolist.currentUser = new Todolist.Models.User(<%= current_user.to_json.html_safe %>);
          <%else%>
           Todolist.currentUser = null
          <%end%>
          this.listsJSON = <%= @lists.to_json(:include => [:records]).html_safe %>          
          new Todolist.Routers.ListsRouter({lists: listsJSON})
          Backbone.history.start()
         </script>
        </div>
           
       

       