
 <div class="modal">
     <h1 style = "color:white">Новое значение </h1> <br />
     <input type ="texte" class = "title_task_fild"> <br />
     <input type = "submit" value = "ok" class = "change_title">
      
 </div>
 <input type ="hidden"  class = "hiden_fild" value="H">
 <div class = "task"></div>
 
  <div class = "b_add_task"> 
    <img src = "image/9.jpg" >
  </div>  
