 
 <div class="list_modal modal" >
     <h1 style = "color:white">Новое значение </h1> <br />
     <input type ="texte" class = "title_task_fild"> <br />
     <input type = "submit" value = "ok" class = "change_list_name">
    
 </div>


 <div class="tasks" >
        <!-- #taskhead-->
          <div class="task_head">
          
            <div style="position:absolute; float:left;margin-left: 18px; margin-top: 13px;">
            <img src="image/1.jpg" width="27" height="26">
            </div>    
            
            <div class="title_task">
               <%= name %>
            </div> 
             
            <div class="edit1">
            
               <div class="task_destroy">
                   <img src="image/2.jpg" >
               </div>
               
              <div class = "edit_tsak_name">
                   <img src="image/3.jpg" >
                   
              </div>
            </div>         
          </div>
           <!-- #end taskhead-->     
        
           <!-- # task add-->
           
          
          <div class="task_add">
            <img src="image/plus.jpg" class="s2">
             <input name="add_input" type="text" class="new_record_fild">
             
            <img src="image/knopka.jpg" style="margin-top:8.5px;" class="add_record">          
          </div>
          
          <!-- #end task add-->
       
          