<div class = "reg_f">
 <h1>Вход</h1><br />
 <form >
  <div class = "error">
  </div>
  <fieldset>
    <div >
      <label >Email</label>
      <div>
        <input id="email" name="email" type="email" required="required" />
      </div>
    </div>
    <div >
      <label >Пароль</label>
      <div class="controls">
        <input id="password" name="" type="password" required="required" />
      </div>
    </div>
    <div >
      <input type="submit" value="Войти" class="btn btn-primary button" />
    </div>
   </fieldset>
 </form><br />
 
 <a href="/#reg"> Регистрация </a><br />
 <a href="/#index"> Назад </a>
</div> 