<div class = "reg_f">
<h1>Регистрация</h1><br />
  <form>
   <div class = "error">
  </div>
  <fieldset>
    <div >
      <label for="login_user_email">Email</label>
      <div >
        <input id="email" name="email" type="email" required="required" />
      </div>
    </div>
    <div id="password_group" >
      <label >Пароль</label>
      <div >
        <input id="password" name="password" type="password" required="required" />
      </div>
    </div>
    <div>
      <label>Повторить пароль</label>
      <div >
        <input id="password_confirmation" name="password_confirmation" type="password" required="required" />
      </div>
    </div>

    <div>
      <input type="submit" value="Отправить" class="btn btn-primary button" />
    </div>
  </fieldset>
</form><br / >
<a href="/#new_session"> Вход </a><br />
<a href="/#index""> Назад </a>
</div>